@media screen and (min-width: 768px){

    .display-none-m{
        display: none;
    }
    
    /* header */ 
    
    .busqueda{
        background: var(--gris-oscuro-3);
        margin: 0px;
        color: var(--blanco);
    }
    
    .header-desktop{
        display: flex;
        margin-left: 1rem;
    }
    
    /* Sección encabezado para desktop*/ 
    .margin-header-d{
        margin-left: 1rem;
    }
    
    .encabezado-desktop{
        display: flex;
        justify-content: space-between;
    
    }
    .padding-actividad-desktop{
        padding-top: 1rem;
        padding-left: 0rem;
    }
    
    /* Botonera para desktop*/ 
    
    .boton{
        padding: 0px 0px 0px 10px;
        margin-left: 5px;
    }
    
    .numero-boton{
        padding:2px 5px;
        background-color: var(--blanco);
        border-left: 1px solid;
    }
    
    .margen-texto-boton{
        padding-right: 10px;
    }
    
    .boton-watch{
         order: -1;
    }
    
    /* Navegador para desktop*/ 
    .Navegador{
        justify-content: flex-start;
    }
    
    .lista-navegador{
        display: flex;
        padding-bottom: 10px;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .navegadores{
        padding: 0px 5px;
    }
    
    .svg-navegador{
    fill:var(--gris-oscuro-2);
    }
    
    /* Sector boton main para desktop*/ 
    .estadisticas-boton-main{
        display: flex;
        margin-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        }
    .margen-boton-main{
        margin-left: 2px;
    }
    
    .boton-main{
        padding: 5px 0px;
        width: 25%;
        }
    
    .botones-main{
        margin-left: 3rem;
    }
    
    .boton-sector-puntos{
        padding: 5px 0px;
        width: 25%;
        }
    
    .boton-add-file{
        padding: 5px 0px;
        width: 95%;
    }
        
    .boton-code{
        background-color: var(--verde-claro);
        border-color: var(--verde-oscuro);
    }
    
    .color-letra-boton-code{
        color: var(--blanco);
    }
    
    .color-iconos-boton-code{
        fill: var(--blanco);
    }
    
    .letra-negrita{
        font-weight: bold;
    }
    
    /* distribución en columnas sector principal para desktop*/ 
    
    .cuerpo-escritorio{
        display: flex;
        flex-direction: row;
    }
    .columna-1{
        width: 75%;
    }
    
    .columna-2{
        width: 25%;
        margin-right: 3rem;
    }
    
    .sector-titulo-secundario-desktop{
        border-bottom: none;
    }
    
    /* seccion about para desktop*/ 
    
    .texto-titulo-about{
        font-size: 18px;
        font-style: italic;
        margin-bottom: 20px;
    }
    
    .about-readme{
        display: flex;
    }
    
    .margen-readme{
        margin-left: 10px;
        margin-bottom: 20px;
    }
    
    /* seccion columna 2*/ 
    .margen-texto-desktop{
        margin-bottom: 20px;
    }
    
    /* seccion titulo principal desktop*/ 
    .display-flex-titulo-desktop{
        display: flex;
    }
    
    .titulo{ margin-right: 0px; 
    }
    
    .margen-titulo{margin-left: 10px;
    }
    
    .titulo-central{
        margin-left: 3rem;
        border-left: solid;
        border-right: solid;
        border-color:var(--gris-claro);
    }
    
    .readme{
        margin-top: 15px;
        margin-bottom: 2rem;
    }
    
    .letra-negrita-titulo-principal{
        font-weight: 500;
    }
    
    /* footer principal desktop*/ 
    
    footer{
        display: flex;
        justify-content: space-around;
        border-top: solid;
        border-color:var(--gris-claro);
        margin-left:3rem;
        margin-right: 3rem;
    }
    
    .footer{
        width: 45%;
        justify-content: space-around;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    
    .footer-abajo{
        width: 45%;
        justify-content: space-around;
        margin-top: 1rem;
        margin-bottom: 3rem;
        margin-left: 0px;
    }
    .logo-footer{
        fill: var(--gris-claro-3);
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    
    /* sector nombre desktop*/ 
    
    .sector-nombres{
        margin-left:3rem; 
    }
    
    .sector-nombres-2{
        margin-left:3rem;
        margin-right: 1rem;
    }
    
    .sector-view-code{
        margin-left: 0px;
    }
    
    .display-datos-sector-nombre{
        display: grid;
        grid-template-columns: repeat(3,33%);
        padding-top: 15px;
        border: solid;
        border-color:var(--gris-claro);
        border-width: 1px;
    }
    
    .display-datos{
        color:var(--gris-oscuro-2);
    }
    
    .display-datos-sector-nombre-radius{
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    
    .display-datos-archivos{
        margin-left: 1rem;
        grid-column: 1;
    }
    
    .display-datos-meses{
        grid-column: 3;
        margin-right: 1rem;
        text-align: end;
    }
    
    .display-datos-texto{
        grid-column: 2;
        text-align: start;
    }
    
    /* animación desktop*/ 
    
    /* botón add files*/
    
    .menu-content {
        display: none;
        position: absolute;
        background-color: var(--blanco);
         
    }
    
    .expandible-menu{
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 5px; 
        width: 95%;
    }
    
    
    .expandible-menu:focus + .menu-content {
        display: block;
      }
      
    .expandible-menu:hover{
        background-color:var(--gris-claro-4);
      }
    
    .li-contenido:hover{
        background-color: var(--azul);
        color: var(--blanco);
    }
    
       
    .ul-menu-formato{
        padding: 0px;
    
    } 
    
    .li-contenido{
        margin-top: 5px;
        padding-left: 10px;
        padding-right: 25px;
    }
    
    
    /* botón code*/ 
    
    .menu-content-code{
        display: none;
        position: absolute;
        background-color: var(--blanco);
        border: solid;
        border-width: 1px;
        border-color:var(--gris-claro);
        border-radius: 15px;
        }
    
    .menu-code-superior{
        border-bottom: solid;
        border-width: 1px;
        border-color:var(--gris-claro);
        padding-top: 15px;
        padding-bottom: 15px;
        }
    
    .menu-code-intermedio{
        border-bottom: solid;
        border-width: 1px;
        border-color:var(--gris-claro);
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .menu-code-inferior{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .expandible-menu-code{
        width: 95%;
    }
    
    .url-clonado{
        width: 100%;
    }
    
    .expandible-menu-code:focus + .menu-content-code {
        display: block;
      }
    
    .display-flex-menu-code{
        display: flex;
        justify-content: start;
        width: 100%;
        
    }
    
    /* botón watch y menu*/ 
    
    .menu-content-watch{
        display: none;
        position: absolute;
        background-color: var(--blanco);
        border: solid;
        border-width: 1px;
        border-color:var(--gris-claro);
        border-radius: 15px;
         
    }
    
    }
     
   