html, BODY{
width: 100%;
height: 100%;
margin: 0;
padding: 0;
}

body{
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
}

p{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color:black;
    margin: 0px;
    
     }


/* cambio de color de encabezado */  
.encabezado{
    background-color:#f6f8fa;
    margin: 0px;
    color:#6a737d;
}
/* cambio de color de iconos */     
.SVG-encabezado{
    FILL: white;
    }
.SVG-section1{
    Fill: #6a737d;  
}

/* formato título repositorio */   
.repo{
    display: flex;
    padding-left: 1rem;
    margin: 0px;
    font-size: 18px;
    color: #0366d6;
    padding-top: 1rem;
  }

.actividad{
    margin: 0;
    padding-left: 1rem;
    font-size: 18px;
    font-weight: 550;
    color: #0366d6;
}

.margen-repo{
    margin-left: 5px;
}

/* formato estadísticas */  
.Estadisticas-datos{
    display: flex;
    padding-left: 1rem;  
}

.Estadisticas{
    display: flex;
    margin: 0;
    font-size: 14px;
    margin-top: 1rem;
}

/* formato botones */  

.Botonera{
    display: flex;
    margin: 1rem;
    justify-content: center;
}
Button{
    display: flex;
    justify-content: center;
    background-color:#f6f8fa;
    padding: 5px 0px;
    width: 100%;
    border-radius: 5px;
}

.color-letra-boton{
    color: #2f363d;
}

.boton-watch{
    margin-left: 5px;
}

/* formato navegador */  
.Navegador{
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}

.navegadores{
    padding: 1rem;
    color: #2f363d;
}

/* formato nombres */
.sector-nombres{
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #f1f8ff;
    padding-top:  10px; 
    padding-bottom: 10px;
    margin-top: 20px;
    border-color: #dbedff;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px 15px 0px 0px;
}  

.nombre{
    display: flex;
    justify-content: space-between;
}

.fecha{
    display: flex;
    justify-content: space-between;
}

.margen-sector-nombre{
    margin-left: 10px;
}

.letra-nombre{
    font-weight: 550;
}

.sector-view-code{
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top:  10px; 
    padding-bottom: 10px;
    border-color: #dbedff;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 0px 15px 15px;
    color:blue
}
/* Botones Main */  

.botones-main{
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 25px;
}

.boton-main{
    padding: 5px 0px;
    width: 35%;
}

.boton-puntos{
    padding: 5px 0px;
    width: 15%;
}

/* Título central */  

.titulo-central{
    border-color:#f6f8fa;
    border-style: solid;
    border-width: 3px;
    border-left: none;
    border-right: none;
    margin-top: 20px;
}