body{
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
}

p{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color:var(--negro);
    margin: 0px;
    color: var(--blanco);
     }

ol{padding: 0px;
}

li{
    list-style: none;
}

/* cambio de color de encabezado */  
.encabezado{
    background-color:var(--gris-claro);
    margin: 0px;
    color:var(--gris-oscuro);
}

/* cambio de color de iconos */     
.SVG-encabezado{
    FILL: var(--blanco);
    }
.SVG-section1{
    Fill: var(--gris-oscuro);  
}

  /* cambio de color de encabezado */  
  .encabezado{
    background-color:var(--gris-claro);
    margin: 0px;
    color:var(--gris-oscuro);
}
    /* cambio de color de iconos */     
.SVG-encabezado{
FILL: var(--blanco);
    }

/* formato título repositorio */   
.repo{
display: flex;
padding-left: 1rem;
margin: 0px;
font-size: 18px;
color: var(--azul-electrico);
padding-top: 1rem;
}

.actividad{
margin: 0;
padding-left: 1rem;
font-size: 18px;
font-weight: 550;
color: var(--azul-electrico);
}

.margen-repo{
margin-left: 5px;
}

/* formato estadísticas */  
.Estadisticas-datos{
display: flex;
padding-left: 1rem;  
}

.Estadisticas{
display: flex;
margin: 0;
font-size: 14px;
margin-top: 1rem;
}

/* formato botones */  

.Botonera{
display: flex;
margin: 1rem;
justify-content: center;
}


.boton{
display: flex;
justify-content: center;
background-color:var(--gris-claro);
padding: 5px 0px;
width: 100%;
border-radius: 5px;
}

.color-letra-boton{
color: var(--gris-oscuro-3);
}

.boton-watch{
margin-left: 5px;
width: 100%;
}

/* formato navegador */  
.Navegador{
display: flex;
justify-content: space-between;
margin-left: 1rem;
margin-right: 1rem;
}

.navegadores{
padding: 1rem;
color: var(--gris-oscuro-3);
}

/* formato nombres */
.sector-nombres{
display: flex;
justify-content: space-between;
margin-left: 1rem;
margin-right: 1rem;
background-color: var(--gris-claro);
padding-top:  10px; 
padding-bottom: 10px;
margin-top: 20px;
border-color: var(--gris-claro-2);
border-style: solid;
border-width: 1px;
border-radius: 15px 15px 0px 0px;
}  

.color-letra-azul{
    color:var(--azul);
}
.nombre{
display: flex;
justify-content: space-between;
}

.fecha{
display: flex;
justify-content: space-between;
}

.margen-sector-nombre{
margin-left: 10px;
}

.letra-nombre{
font-weight: 550;
}

.sector-view-code{
display: flex;
justify-content: center;
margin-left: 1rem;
margin-right: 1rem;
padding-top:  10px; 
padding-bottom: 10px;
border-color:var(--gris-claro-2);
border-style: solid;
border-width: 1px;
border-radius: 0px 0px 15px 15px;
color:var(--azul)
}
/* Botones Main */  

.sector-boton{
    width: 100%;
    display: flex;
}

.botones-main{
display: flex;
justify-content: space-between;
margin-left: 1rem;
margin-right: 1rem;
margin-top: 25px;
}

.boton-main{
padding: 5px 0px;
width: 70%;
}

.sector-boton-puntos{
    display: flex;
    justify-content:flex-end;
}

.boton-puntos{
padding: 5px 0px;
width: 30%;
}

/* Título central */  

.titulo-central{
border-color:var(--gris-claro);
border-style: solid;
border-width: 2px;
border-left: none;
border-right: none;
margin-top: 20px;
}

.titulo{
font-size: 28px;
margin: 0px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-weight: 500;
margin-left: 1.5rem;
margin-right: 1.5rem;
}

.readme{
margin-left: 1rem;
margin-right: 1rem;
}

.texto-titulo{
margin-left: 1.5rem;
margin-right: 1.5rem;
font-size: 16px;
padding-top: 15px;
padding-bottom: 25px;
border-width: 2px;
border-color:var(--gris-claro);
border-style: solid;
border-bottom: none;
border-left: none;
border-right: none;
}

.margen-titulo{
padding-bottom: 15px;
}

/* Título central */  

.titulo-secundario{
font-weight: 500;
font-size: 18px;
}

.sector-titulo-secundario{
margin-left: 1.5rem;
margin-right: 1.5rem;
border-width: 2px;
border-color:var(--gris-claro);
border-style: solid;
border-left: none;
border-right: none;
border-top: none;
}

.texto-titulo-secundario{
font-size: 12px; 
color: f6f8fa;
}

.padding-inferior{
padding-bottom: 40px;
}

/* Footer */  
.footer{
display: flex;
justify-content: space-around;
margin-left: 1rem;
margin-right: 1rem;
font-size: 12px;
}

.footer-abajo{
display: flex;
justify-content: space-around;
margin-left: 1rem;
margin-right: 1rem;
font-size: 12px;
}

.letra-color-azul{
color: var(--azul);
margin-left: 5px;
}

.centrar{
display: flex;
justify-content: center;
font-size: 12px;
margin: 5px;
}

.margen-footer{
margin-left: 5px;
}

/* Barra */ 
.barra1{
width: 78%;
background-color: var(--naranja);
padding: 5px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
}

.barra2{
width: 22%;
background-color:var(--violeta);
padding: 5px;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
margin-left: 1px;
}

.barra{
display: flex;
justify-content: center;
margin-left: 1rem;
margin-right: 1rem;
}

/* botón watch y menu*/ 



.texto-menu-watch{
    font-size: 14px;
}
.sector-menu-watch{
    border-bottom: solid;
    border-width: 1px;
    border-color:var(--gris-claro);
    margin: 20px;
}

.expandible-menu-watch:focus + .menu-content-watch {
    display: block;
}

.notifcations{
    font-weight: bold;
    border-bottom: solid;
    border-width: 1px;
    border-color:var(--gris-claro);
}

.titulo-menu-watch{
    font-size: 15px;
}

@media screen and (max-width: 768px){

    .display-none{
        display: none;
}
    
.menu-content-watch{
    display: none;
    position: absolute;
    top:10%;
    left: 5%;
    background-color: var(--blanco);
    border: solid;
    border-width: 1px;
    border-color:var(--gris-claro);
    border-radius: 15px;
     
}

}    